* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(blue,pink);
  background-repeat: no-repeat;
  min-height: 100vh;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#head{
  background-color: #212020ea;
  width: 40%;
  
}
#bg-image{
  background-image: url("bg-image.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  padding-top: 2rem ;
  width: 100%;
  

  
}
#tx{
  color: white;
}

#details{
  display: flex;
  align-items: left;
  justify-content: left;
}
.login-container{
  padding-top: 8rem;
  
 
  
}
#add{
  margin-left: 3rem;
  margin-bottom: 2rem;
}